<!DOCTYPE html>
<html lang="en">
<head>
  {% include './public/admin/meta.html' %}
  <title>博客后台管理系统</title>

  {% include './public/admin/style.html' %}
  {% block style %} {% endblock %}
</head>
<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">博客后台管理系统</div>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            贤心
          </a>
          <dl class="layui-nav-child">
            <dd><a href="/admin/login"><i class="fa fa-sign-out"></i>退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>
    
    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="nav">
          <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;"><i class="fa fa-cubes"></i>博客管理</a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;" link="/admin/users"><i class="fa fa-user"></i>用户管理</a></dd>
              <dd><a href="javascript:;" link="/admin/articles"><i class="fa fa-book"></i>文章管理</a></dd>
              <dd><a href="javascript:;" link="/admin/tags"><i class="fa fa-tags"></i>标签管理</a></dd>
              <dd><a href="javascript:;" link="/admin/comments"><i class="fa fa-comments"></i>评论管理</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="fa fa-cubes"></i>系统管理</a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;" link="/admin/changePwd"><i class="fa fa-unlock-alt"></i>密码修改</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div class="layui-tab" lay-filter="tab" lay-allowClose="true">
        <ul class="layui-tab-title">
          <li class="layui-this"><i class="fa fa-tachometer"></i><span>首页</span></li>
        </ul>
        <div class="layui-tab-content">
          <div class="layui-tab-item layui-show index-item">
            欢迎使用博客后台管理系统，请帮忙给个star，这将是我继续的动力。谢谢...
          </div>
        </div>
      </div>
      {% block content %} {% endblock %}
    </div>
    
    <div class="layui-footer">
      <!-- 底部固定区域 -->
      © cherishsmile.xyz - QQ:779457747
    </div>
  </div>
  {% include './public/admin/script.html' %}
  {% block script %} {% endblock %}
</body>
</html>