<!DOCTYPE html>
<html lang="en">
<head>
  {% include './public/meta.html' %}
  <title>FreeCoding {% block title %}{% endblock %}</title>
  {% include './public/style.html' %}
</head>
<body>
  <div class="left-side">
    {% include './public/lefter.html' with leftSide %}
  </div>
  <div class="main-content">
    <div class="header-section">
      {% include './public/header.html' %}
    </div>
    <div class="wrapper">
      <div class="artical-content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
  {% include './public/script.html' %}
</html>