html,body{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  overflow-y: auto;
}
/*upword*/
.upword{
  position: absolute;
  font-size: 12px;
  color: #CC523A;
  animation: upmove .8s infinite;
}
@keyframes upmove{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-10px);
    opacity: 0;
  }
}
/*nav-left*/
.left-side{
  position: fixed;
  width: 270px;
  height: 100%;
  background: rgb(45, 64, 84);
  padding-top: 20px;
  color: rgb(255, 255, 255);
}
.left-side .item{
  padding: 0px 45px;
  font-size: 16px;
  line-height: 55px;
  /* cursor: pointer; */
  border-bottom: 1px solid rgb(67, 84, 102);
}
.left-side .item a{
  display: inline-block;
  width: 100%;
  transition: .3s;
  color: rgb(255, 255, 255);
}
.left-side .item.active{
  background: rgb(67, 84, 102);
}
.left-side .item a:hover{
  color: rgb(0, 180, 207);
}
.left-side .item.active a{
  color: rgb(0, 180, 207);
}
.left-side .itemChildren{
  padding: 0 60px;
}

/*main-content*/
.main-content{
  position: relative;
  margin-left: 270px;
  overflow-y: auto;
}
.main-content .header-section{
  position: fixed;
  z-index: 1;
  left: 280px;
  top: 0;
  width: 100%;
  line-height: 50px;
  height: 50px;
  background: rgb(255, 255, 255);
}
/*header*/
.main-content .header-section .lines{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-right: 1px solid #e7e7e7;
  margin-right: 5px;
  cursor: pointer;
  transition: .3s;
}
.main-content .header-section .lines:hover{
  background: rgb(45, 64, 84);
}
.main-content .header-section .lines:hover .line{
  background: rgb(255, 255, 255);
}
.main-content .header-section .lines:hover .line1{
  transform: translateY(5px) rotate(45deg);
}
.main-content .header-section .lines:hover .line2{
  transform: rotate(90deg);
  opacity: 0;
}
.main-content .header-section .lines:hover .line3{
  transform: translateY(-5px) rotate(-45deg);
}
.main-content .header-section .line{
  position: absolute;
  width: 18px;
  left: 16px;
  height: 3px;
  background: #333;
  top: 19px;
  transition: .3s;
}
.main-content .header-section .line2{
  top: 24px;
}
.main-content .header-section .line3{
  top: 29px;
}
.main-content .header-section .title{
  display: inline-block;
  line-height: 50px;
  font-weight: bold;
  vertical-align: top;
}
.main-content .wrapper{
  padding: 60px 10px 30px;
  background: rgb(235, 235, 235);
}
.main-content .wrapper .artical-content{
  /* min-height: 904px; */
  background: rgb(235, 235, 235);
}
