{% extends '../layout.html' %}

{% block style %}
  <link rel="stylesheet" href="/public/css/index.css">
{% endblock %}

{% block content %}
  {% if article %}
    <article>
      <header class="clearfix">
        <div class="clearfix">
          <h1 class="title fl">
            <a href="/article/{{article._id.toString()}}">{{article.name}}</a>
          </h1>
          <div class="fr">
            <span class="time">
              <i class="fa fa-fw fa-calendar"></i>&nbsp;
              {{article.createTime}}
            </span>
            <span class="views">
              <i class="fa fa-fw fa-star"></i>&nbsp;
              阅读数：{{article.views}}
            </span>
          </div>
        </div>
        <div class="clearfix" style="margin-top: 10px;">
          <i class="fa fa-fw fa-tags"></i>&nbsp;
          {% for tag in article.tags %}
            <a class="tag color{{Math.ceil(Math.random()*5)}}" href="/tags/{{tag._id.toString()}}">{{tag.name}}</a>
          {% endfor %}
        </div>
      </header>
      <section class="markdown-body">
        {% autoescape %} {{article.content}} {% endautoescape %}
      </section>
    </article>
  {% else %}
    {% for article in articles %}
      <article>
        <header class="clearfix">
          <h1 class="title fl">
            <a href="/article/{{article._id.toString()}}">{{article.name}}</a>
          </h1>
          <div class="fr">
            <span class="time">
              <i class="fa fa-fw fa-calendar"></i>&nbsp;
              {{article.createTime}}
            </span>
            <span class="views">
              <i class="fa fa-fw fa-star"></i>&nbsp;
              阅读数：{{article.views}}
            </span>
          </div>
        </header>
        <section>
          {{article.description}}
        </section>
        <footer  class="clearfix">
          <i class="fa fa-fw fa-tags"></i>&nbsp;
          {% for tag in article.tags %}
            <a class="tag color{{Math.ceil(Math.random()*5)}}" href="/tags/{{tag._id.toString()}}">{{tag.name}}</a>
          {% endfor %}
          <a href="/article/{{article._id.toString()}}" class="fr more">阅读全文 >></a>
        </footer>
      </article>
    {% endfor %}
  {% endif %}
{% endblock %}