.layui-footer{
    text-align: center;
    color: #444;
}
.layui-tab{
    margin: 0;
}
.layui-tab .layui-tab-title{
    height: 39px;
    border-top: 4px solid #1AA094;
    border-bottom: 1px solid #1AA094;
}
.layui-tab li{
    min-width: 65px;
    border: 0;
}
.layui-tab li::after{
    display: none;
}
.layui-tab li:first-child i{
    display: none;
}
.layui-tab li:first-child .fa{
    display: inline;
    padding: 0 5px;
}
.layui-tab .layui-this{
    background: #1AA094;
    color: #fff;
    border: 0;
}
.fa{
    padding: 0 10px 0 5px;
}
.layui-nav-tree .layui-nav-child a{
    padding: 0 20px 0 30px;
}